table {
  width: 100%;
  font-size: 1.5rem;
}

.mat-row .mat-cell {
  border-spacing: 5px;
}

.detalhe {
  font-size: 1.3rem;
  padding-bottom: 10px;
  font-style: bold;
}

button {
  width: 150px;
  margin-left: 1.2%;
}

.button-1 {
    width: 150px;
    margin-right: 1.2%;
}

.button-2 {
    width: 150px;
    margin-left: 10px;
    background-color:green;
    color: white;
}

.detalhe-table {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1 1 1 1;
}

.detalhe-premio {
  font-size: 0.9rem;
  margin-bottom: 15px;
  font-style: normal;
}

.premio {
  font-size: 1rem;
  margin-bottom: 15px;
  font-style: normal;
  padding-bottom: 10px;
}

.numeros {
  font-size: 1.1rem;
  padding-bottom: 10px;
  font-style: bold;
  color: greenyellow;
}

.delete>i {
  color: #e35e6b;
}

.body {
  padding: 20px 5% 0 5%;
}

.total {
  background-color: rgb(58, 111, 4);
  font-size: 1.3rem;
}
