<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
    
<head>
	<title>Login</title>
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<!--Coded with love by Mutiullah Samim-->
<body>
	<div>
		<mat-card>
			<mat-card-title class="d-flex justify-content-center h-100">Boa sorte</mat-card-title>
		  </mat-card>
	</div>
	
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
				<div class="d-flex">
					<form style="height: 200px;">
						<table mat-table [dataSource]="bilhetePago" class="bilhete">
							<ng-container matColumnDef="descricao">
								<td mat-cell *matCellDef="let bilhete">
									<div id="container">
										<div class="row">
											<div class="column-3 column label">
												<label>Banca online</label>
											</div>
											<div class="column-3 column label" style="width: 70px; height: 0px;">
												<label></label>
											</div>
											<div class="column-9 column input">
												<label>Data: {{bilhete.dhAposta | date: 'dd/MM/yyyy hh:mm'}}</label>
											</div>
										</div>
										<div class="row">
											<div class="column-3 column label">
												<label>Número Poule: 00000002</label>
											</div>
										</div>
										<div class="row">
											<div class="column-3 column label">
												<label>Extração: {{bilhete.extracao.descricao}}</label>
											</div>
											<div class="column-3 column label" style="width: 70px; height: 0px;"></div>
											<div class="column-9 column input">
												<label>Hora: {{bilhete.extracao.hora}}</label>
											</div>
										</div>
										<div class="row">
											<div class="column-3 column label">
												<label>Total Pago: {{bilhete.valorTotal}}</label>
											</div>
										</div>
										<hr size="1" style="border:1px dashed;">
										<div class="row">
											<div class="column-3 column label">
												<table class="detalhe-table">
								   
													<tr *ngFor="let aposta of bilhete.apostas">
														<table>
															<tr>Modalidade: {{aposta.tipo.abreviatura}}-{{aposta.tipo.descricao}}</tr>
															<tr class="numeros">Palpites: {{aposta.numeros}}</tr>
															<tr *ngFor="let premio of aposta.premiacoes" class="label">
																<a>Premiação {{premio.index}}: {{premio.nuDo}} ao {{premio.nuAo}} {{premio.valor
																	| currency : 'BRL'}} {{premio.valorTotal | currency : 'BRL'}}</a>
															</tr>
															<tr><hr size="1" style="border:1px dashed;"></tr>
														</table>
													</tr>
													 
												</table>
											</div>
										</div>				
									</div>
								</td>
							</ng-container>
							<tr mat-row *matRowDef="let aposta; columns: displayedColumns;"></tr>
						</table>
						
					</form>
				</div>
		
		</div>
	</div>
</body>
</html>

