.button-1 {
    width: 150px;
    margin-right: 1.2%;
}

.button-2 {
    width: 150px;
    margin-left: 10px;
    background-color:green;
    color: white;
}

.button-3 {
    width: 150px;
    margin-right: 1.2%;
}

.button-4 {
    width: 150px;
    margin-left: 10px;
}

.pix {
    margin-top: 40px;
    width: 300px;
    height: 300px;
}

.texto {
    margin-top: 30px;
    color: aliceblue;
    font-size: 1rem;
    padding: 50 50 50 50;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    align-items: flex-start;
}

.textoGrande {
    margin-top: 40px;
    color: aliceblue;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 50 50 50 50;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.input_chave {
    text-align: center;
    margin-top: 20px;
    font-size: medium;
    height: 30px;
    width: 200px;
    box-shadow: none;
    outline: 0px;
}

.input_valor {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: medium;
    height: 30px;
    width: 200px;
    box-shadow: none;
    outline: 0px;
}

