<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh">
  <mat-card fxShow="true" fxHide.lt-md>
    <mat-card-title>Selecione a modalidade</mat-card-title>
    <br>
    <mat-card-subtitle>Extração: {{extracao.descricao}}</mat-card-subtitle>
  </mat-card>
  <mat-card fxShow="true" fxHide.gt-sm>
    <div fxLayout="row wrap" fxLayoutAlign="start center" >
      <span> 
        <a>Selecione a modalidade</a>
      </span>   
    </div>
  </mat-card>
  <div fxLayout="row" fxLayoutAlign="start end" fxShow="true" fxHide.lt-md>
    <button mat-stroked-button (click)="cancel()">
      Cancelar
    </button>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="extra-card">
    <!-- loop over the cardList and show the cards -->
    <div *ngFor="let tipo of tipos" fxFlex="25" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100" fxLayout="column"
      style="padding: 1px;">
      <!-- cards here -->
      <mat-card class="mat-elevation-z1" class="mat-card-2">
        <button fxFlex mat-flat-button (click)="proximo(tipo)" class="button-3">
          {{tipo.descricao}}
        </button>
      </mat-card>
    </div>
  </div>
</div>