.header {
    position: fixed;
    left: 0;
    right: 0;
    overflow: auto;
    align-items: center;
}

.header a {
    align-items: center;
    text-decoration: none;
}

.logo {
    max-height: 50px;
    padding-left: 10px;
}


.title-group {
    padding-left: 10px;
    padding-right: 100px;
}

.header .title-group i {
    padding-right: 5px;
}

.spacer {
    flex: 1 0 auto;
}

button {
    font-size: 1.2rem;
}


.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-icon {
    padding-right: 5px;
}