/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.red {
    color: #e35e6b;
}

.v-middle {
    vertical-align: middle;
}

.home {
    position: fixed;
    top: 3.4rem;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: rgb(52, 50, 50);
}

form {
    display: flex;
    flex-direction: column;
    padding: 1% 10% 0% 10%;
    margin-left: 20px;
    margin-right: 20px;
}

.texto {
    color: aliceblue;
    font-size: 1.2rem;
}

.spacer {
    flex: 1 0 auto;
}

.button-top {
    margin-top: 5px;
}

.cancel {
    color: white;
}

.mat-card-2 {
    height: 85px;
}

mat-button-toggle-group {
    flex-wrap: wrap;
}

.bilhete {
    background-color: rgb(241, 237, 179);
    margin: 0 1em 1em 1em;
    height: fit-content;
}

.label-bilhete {
    color: black;
    margin: 10px 10px 10px 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */ 
}
